<% if @activities.any? %>

<!-- Notepad 1: -->

    <ul class="notifications unstyled">
        <% @activities.each do |activity| %>
            <li>
                <%= render activity %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p class="alert alert-info">
        No activities are available.
    </p>
<% end %>
